@model IEnumerable<hidohieu.Models.SanPham>

@foreach (var item in Model)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <a title="@item.TenSanPham" href="/Product/Details/@item.MaSanPham">
                <img src="/images/@item.AnhSanPham" alt="@item.AnhSanPham" width="180" height="250" />
            </a>
            <div class="caption">
                <h4>
                    <a title="@item.TenSanPham" href="/Product/Details/@item.MaSanPham" style="color:green;">@(item.TenSanPham.Length > 26 ? item.TenSanPham.Substring(0, 22) + "..." : item.TenSanPham)</a>
                </h4>
                <a class="btn btn-warning" href="/Cart/AddItem/?id=@item.MaSanPham&quantity=1">Mua hàng</a>
                @if (item.GiaBan > 0)
                {
                    <h4 class="pull-right" style="color:red;">@item.GiaBan.Value.ToString("N0") VND</h4>
                }
                else
                {
                    <h4 class="pull-right" style="color:red;">Liên hệ</h4>
                }
            </div>
        </div>
    </div>
}
